<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css">

    <link rel="icon" href="https://www.iconfinder.com/data/icons/objects/512/grip-512.png">
    <title>Get-A-Grip</title>
    <script>
        $(document).ready(function () {
            var movementStrength = 20;
            var height = movementStrength / $(window).height();
            var width = movementStrength / $(window).width();
            $("body").mousemove(function (e) {
                var pageX = e.pageX - ($(window).width() / 2);
                var pageY = e.pageY - ($(window).height() / 2);
                var newvalueX = width * pageX * -1 - 20;
                var newvalueY = height * pageY * -1 - 20;
                $('body').css("background-position", newvalueX + "px     " + newvalueY + "px");
            });
        });
    </script>
<body style="background-image: url('http://cdn.wallpapersafari.com/67/59/9zsMbG.jpg');background-repeat: no-repeat;background-size: auto;">
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Password Reset</div>
        <div class="panel-body">
            {% if validlink %}
                <h3>Change password</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Change password</button>
                </form>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
            {% endif %}
            <a href="/">
                <button class="pull-right btn btn-danger"><span class="fa fa-arrow-left"></span>Home</button>
            </a>
        </div>

        <div class="panel-footer">
            Try Password Reset Once Again! -Regards (Get-A-Grip.co.in)
        </div>
    </div>
</div>
</body>
</html>