<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css">
    <script src="//cdn.ckeditor.com/4.7.0/basic/ckeditor.js"></script>
    <link rel="icon" href="https://www.iconfinder.com/data/icons/objects/512/grip-512.png">

    <title>Get-A-Grip</title>
    <style>
        .need-help {
            background-color: rgba(55, 1, 9, 0.11);
        }

        .todo {
            background-color: rgba(22, 22, 22, 0.02);
        }

        .progress {
            height: 5px;
        }

        .progress:hover {
            height: 20px;
        }
    </style>
    <script>
        var all_comments, all_users = [];
        $(document).ready(function () {
            var state = "{{ tasks_log.state }}";
            switch (state) {
                case "todo":
                    $(".data").addClass("alert-default");
                    break;
                case "inprogress":
                    $(".data").addClass("alert-success");
                    break;
                case "needhelp":
                    $(".data").addClass("need-help");
                    break;
                case "review":
                    $(".data").addClass("alert-warning");
                    break;
                case "improvements":
                    $(".data").addClass("alert-info");
                    break;
                case "closed":
                    $(".data").addClass("alert-danger");
                    break;
            }
            all_comments = [
                {% for person in tasks_log.comments_log_set.all %}
                    {
                        id: "{{ person.id }}",
                        comment: "{{ person.comment }}"
                    },
                {% endfor %}
            ];
            all_users = [
                {% for user in users_objects.all %}
                    {
                        id:{{ user.id }},
                        name: "{{ user.username  }}"
                    },
                {% endfor %}
            ];
        });
        function showComments() {
            for (i = 0; i < all_comments.length; i++) {
                var id = "#comment" + all_comments[i].id;
                comment = all_comments[i].comment;
                comment = comment.replace(/\&lt;/g, '<');
                comment = comment.replace(/\&gt;/g, '>');
                comment = comment.replace(/\&quot;/g, '"');
                $(id)[0].innerHTML = comment;
            }
            if ($(".comment-button").text() == "Show Comments") {
                $(".comments-block").slideDown("slow");
                $(".comment-button").text("Hide Comments");
                $(".comment-button").addClass("btn-danger");
                $(".comment-button").removeClass("btn-info");
            }
            else {
                $(".comments-block").slideUp("slow");
                $(".comment-button").text("Show Comments");
                $(".comment-button").addClass("btn-info");
                $(".comment-button").removeClass("btn-danger");
            }
        }
        function showAssignees() {
            if ($(".assignees-button").text() == "Show Assignees") {
                $(".assignees-block").slideDown("slow");
                $(".assignees-button").text("Hide Assignees");
                $(".assignees-button").addClass("btn-danger");
                $(".assignees-button").removeClass("btn-info");
            }
            else {
                $(".assignees-block").slideUp("slow");
                $(".assignees-button").text("Show Assignees");
                $(".assignees-button").addClass("btn-info");
                $(".assignees-button").removeClass("btn-danger");
            }
        }
        function showSubtasks() {
            if ($(".subtasks-button").text() == "Show SubTasks") {
                $(".subtasks-block").slideDown("slow");
                $(".subtasks-button").text("Hide SubTasks");
                $(".subtasks-button").addClass("btn-danger");
                $(".subtasks-button").removeClass("btn-info");
            }
            else {
                $(".subtasks-block").slideUp("slow");
                $(".subtasks-button").text("Show SubTasks");
                $(".subtasks-button").addClass("btn-info");
                $(".subtasks-button").removeClass("btn-danger");
            }
        }

        var tasks_list = [
            {% for task in task_log_list %}
                {
                    id: "{{ task.id }}",
                    title: "{{ task.title }}",
                    deadline: "{{ task.deadline|date:"Y-m-d G:i:s" }}",
                    date: "{{ task.date|date:"Y-m-d G:i:s"  }}",
                    state: "{{ task.state}}",
                    type: "{{ task.type}}",
                    createdBy: "{{ task.createdBy_id}}"
                },
            {% endfor %}
        ];
        var all_tasks_list = [
            {% for task in task_objects %}
                {
                    id: "{{ task.id }}",
                    title: "{{ task.title }}",
                    deadline: "{{ task.deadline|date:"Y-m-d G:i:s" }}",
                    date: "{{ task.date|date:"Y-m-d G:i:s"  }}",
                    state: "{{ task.state}}",
                    type: "{{ task.type}}",
                    createdBy: "{{ task.createdBy_id}}"
                },
            {% endfor %}
        ];
        var assigneed_tasks = [
            {% for assignees in assigneed_tasks%}
                {
                    id: "{{ assignees.task.id }}",
                    title: "{{ assignees.task.title }}",
                    createdBy: "{{ assignees.task.createdBy.username}}",
                    userId: "{{ assignees.task.createdBy.id}}"
                },
            {% endfor %}
        ];

        var progressArray = [];
        function filterData() {
            var list = $('.task-block');
            var filter = $('#filter-data').val();
            for (i = 0; i < list.length; i++) {
                var name = list[i].getElementsByTagName("h4")[0];
                if (name.innerHTML.toUpperCase().indexOf(filter.toUpperCase()) > -1) {
                    list[i].style.display = "";
                } else {
                    list[i].style.display = "none";
                }
            }
        }
        function getPercent(i) {
            try {
                var deadLine = new Date(tasks_list[i].deadline);
                deadLine = deadLine.getTime();
                var createdOn = new Date(tasks_list[i].date);
                createdOn = createdOn.getTime();
            }
            catch (e){
                var deadLine = new Date(all_tasks_list[i].deadline);
                deadLine = deadLine.getTime();
                var createdOn = new Date(all_tasks_list[i].date);
                createdOn = createdOn.getTime();
            }
            var today = new Date();
            today = today.getTime();
            var percent = ((today - createdOn) / (deadLine - createdOn)) * 100;
            if (percent < 0 || percent > 100)
                percent = 100;

            percent = Math.round(percent);
            return percent;
        }

        function populateAlerts() {

            var allAlerts = "";
            for (var i = 0; i < tasks_list.length; i++) {
                var percent ;
                    percent = getPercent(i);
                if (percent > 90)
                    allAlerts += '<li><a href=/getagrip/' + tasks_list[i].id + '/><div><strong class="">' + tasks_list[i].title +
                            '</strong></div><div class="progress-bar progress-bar-striped active" id="' + tasks_list[i].id + '-progress-bar" role="progressbar"' +
                            'aria-valuenow="' + percent + '" aria-valuemin="0" aria-valuemax="100" style="width:' + percent + '%">' + percent +
                            '%</div></a></li>'
            }
            $('#alerts').slideToggle("slow");
            if (allAlerts == "")
                $('#alerts')[0].innerHTML = "No Alerts";
            else
                $('#alerts')[0].innerHTML = allAlerts;
        }
        function populateMessages() {

            var allMessages = "";
            for (var i = 0; i < assigneed_tasks.length; i++) {
                allMessages += '<li><a href=/getagrip/' + assigneed_tasks[i].id + '/>' +
                        '<div><img src="http://www.iconskid.com/images/60/it-support-correct-group-60914.png" alt="Person" class="img-circle" width="20" height="20">' + assigneed_tasks[i].createdBy +
                        '</div><div><strong class="">' + assigneed_tasks[i].title + '</strong></div></a></li>'
            }
            $('#messages').slideToggle("slow");
            if (allMessages== "")
                $('#messages')[0].innerHTML = "No Messages";
            else
            $('#messages')[0].innerHTML = allMessages;
        }
        function fillProgressBars() {
            for (var i = 0; i < all_tasks_list.length; i++) {
                var percent = getPercent(i);
                var bar = '<div class="progress-bar progress-bar-striped active" role="progressbar"' +
                        'aria-valuenow="' + percent + '" aria-valuemin="0" aria-valuemax="100" style="width:' + percent + '%">' + percent + '%</div>';
                try {
                    $("#" + all_tasks_list[i].id + "-progress-bar")[0].innerHTML = bar;
                }
                catch(err){}
            }
        }
    $(document).ready(function () {
            var movementStrength = 20;
            var height = movementStrength / $(window).height();
            var width = movementStrength / $(window).width();
            $("body").mousemove(function (e) {
                var pageX = e.pageX - ($(window).width() / 2);
                var pageY = e.pageY - ($(window).height() / 2);
                var newvalueX = width * pageX * -1 - 20;
                var newvalueY = height * pageY * -1 - 20;
                $('body').css("background-position", newvalueX + "px     " + newvalueY + "px");
            });
        });
    </script>

</head>

<body style="background-image: url('http://pavinstallations.com/Site/graphics/inner-background-themed.png?no-min&x');background-repeat: no-repeat;background-size: cover;">

<div class="container">
    <nav class="navbar navbar-fixed-top navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/getagrip/userTasks/">
                    <img alt="Get-A-Grip" src="https://www.iconfinder.com/data/icons/objects/512/grip-512.png"
                         style="width: 25px;height: 25px">
                </a>
                <h3 class="navbar-text navbar-right"><strong>Get-A-Grip</strong></h3>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/getagrip/userTasks/">
                        <strong class="faa-parent animated-hover"><i
                                class='fa fa-bookmark-o faa-wrench'></i>Home</strong>
                    </a>
                </li>
                <li onclick="populateAlerts()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <strong class="faa-parent animated-hover"><i class='fa fa-bell-o faa-ring'></i>Alerts</strong>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="alerts" style="display: none;overflow:scroll;height:250px;">

                    </ul>
                </li>
                <li onclick="populateMessages()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <strong class="faa-parent animated-hover"><i
                                class='fa fa-envelope-o faa-shake'></i>Messages</strong>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="messages" style="display: none;overflow:scroll;height:250px;">

                    </ul>
                </li>
                <li class="dropdown" onclick="$('#log-menu').slideToggle('slow')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <strong class="faa-parent animated-hover"><i class='fa fa-user-o faa-flash'></i>profilo</strong>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="log-menu">
                        <li>
                            <a href="/users/{{ request.user.id }}/">
                                <strong class="">View Your profile</strong>
                            </a>
                        </li>
                        <li>
                            <a href="/getagrip/help/">
                                <strong class="">Help</strong>
                            </a>
                        </li>
                        <li>
                            <a href="/getagrip/help/">
                                <strong class="">Feed Back</strong>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="">
                            <a href="/Logout/">
                                <strong class="">Logout</strong>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<br><br><br>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b><i class="fa fa-id-card-o fa-2x"></i>Task Details</b>
            {% if request.user.id == tasks_log.createdBy_id %}
                <a href="delete"><i class="fa fa-2x fa-trash pull-right" style="color: white"></i></a>
                <a href="update"><i class="fa fa-2x fa-edit pull-right" style="color: white"></i></a>
            {% endif %}

        </div>
        <div class="panel-body">
            <div class="list-group">
                <a class="list-group-item">
                    <b class="list-group-item-heading"><i class="fa fa-anchor"></i>Task Title</b>
                    <p class="list-group-item-text pull-right">{{ tasks_log.title }}</p>
                </a>
                <a href="/users/{{ tasks_log.createdBy.id }}" class="list-group-item">
                    <b class="list-group-item-heading"><i class="fa fa-child"></i>Task Admin</b>
                    <div class="chip pull-right">
                        <img src="https://maxcdn.icons8.com/Share/icon/p1em/users//gender_neutral_user1600.png" alt="Person" class="img-circle" width="30" height="30">
                        {{ tasks_log.createdBy.username }}
                    </div>
                </a>
                <a class="list-group-item">
                    <b class="list-group-item-heading"><i class="fa fa-cogs"></i>Task Type</b>
                    <p class="list-group-item-text badge alert-danger pull-right">Main-Task</p>
                </a>
                <a class="list-group-item">
                    <b class="list-group-item-heading"><i class="fa fa-server"></i>Task State</b>
                    <p class="list-group-item-text badge data pull-right">{{ tasks_log.state }}</p>

                </a>
                <a class="list-group-item">
                    <b class="list-group-item-heading"><i class="fa fa-clock-o"></i>Task Created On</b>
                    <p class="list-group-item-text pull-right">
                        <input size="16" type="text" value="{{ tasks_log.date }}" readonly>
                    </p>
                </a>
                <a class="list-group-item">
                    <b class="list-group-item-heading"><i class="fa fa-hourglass-2"></i>Task DeadLine </b>
                    <p class="list-group-item-text pull-right">
                        <input size="16" type="text" value="{{ tasks_log.deadline }}" readonly>
                    </p>
                </a>
            </div>
            <b class="list-group-item-heading"><i class="fa fa-book"></i>Task Description</b>
            <p class="list-group-item-text pull-right">{{ tasks_log.description }}</p>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 ">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-2x fa-group"></i><b>Task Assignees</b>
                    <button class="btn btn-info assignees-button" onclick="showAssignees()">Show Assignees</button>
                </div>
                <div class="panel-body assignees-block" style="display: none;overflow:scroll;height:250px;">
                    <div class="list-group">
                        {% for assignee in tasks_log.assignees_log_set.all %}
                            <button type="button" class="list-group-item">
                                <div class="chip">
                                    <img src="https://maxcdn.icons8.com/Share/icon/p1em/users//gender_neutral_user1600.png" alt="Person" class="img-circle" width="30" height="30">
                                    <a href="/users/{{ assignee.assigneed_to.id }}">{{ assignee.assigneed_to.username }}</a>
                                    <a href=assignee/{{ assignee.id }}/delete><span
                                            class="btn glyphicon glyphicon-remove-circle pull-right"></span></a>
                                </div>
                            </button>
                        {% empty %}
                            <lable class="alert-success">No One is Assigned to this Task!</lable>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel-footer">
                    <input class="btn btn-default" list="assign" id="assignee-button" name="assign"
                           placeholder="Add-Assignees...">
                    <datalist id="assign">
                        {% for user in users_objects.all %}
                            <option value={{ user.username }}>
                        {% endfor %}
                    </datalist>
                    <script>
                        function addAssignee() {
                            var userPresent = false;
                            var assigneeName = $("#assignee-button").val();
                            for (i = 0; i < all_users.length; i++) {
                                if (all_users[i].name == assigneeName) {
                                    userPresent = true;
                                    break;
                                }
                            }
                            if (userPresent)
                                window.location.assign(window.location.pathname + 'assignee/' + all_users[i].id);
                            else
                                alert("select an valid user!")
                        }
                    </script>
                    <button class="btn btn-primary pull-right" onclick="addAssignee()">Add Assignee</button>
                </div>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-2x fa-tasks"></i><b>Sub Tasks</b>
                    <button class="btn btn-info subtasks-button" onclick="showSubtasks()">Show SubTasks</button>
                </div>
                <div class="panel-body subtasks-block" style="display: none;overflow:scroll;height:250px;">
                    <div class="list-group">
                        {% for task in task_objects %}
                            {% if tasks_log.id == task.maintask.id %}
                                <a href="/getagrip/{{ task.id }}/" class="list-group-item">
                                    <h4 class="list-group-item-heading">{{ task.title }}</h4>
                                    <div class="progress" id="{{ task.id }}-progress-bar"
                                             onmouseover="fillProgressBars()">
                                        <div class="progress-bar progress-bar-primary progress-bar-striped active"
                                             role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% empty %}
                            <lable class="alert-success">There are No Sub-Tasks For This Task!</lable>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/getagrip/newTask">
                        <button class="btn btn-primary subtasks-info">Create A Task</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-2x fa-commenting-o"></i><b>Comment</b>
            <button class="btn btn-info comment-button" onclick="showComments()">Show Comments</button>
        </div>
        <div class="panel-body comments-block" style="display: none;overflow:scroll;height:250px;">
            <div class="list-group">
                {% for person in tasks_log.comments_log_set.all %}
                    <li class="list-group-item">
                        {% if request.user == person.commented_by %}
                            <a href=comment/{{ person.id }}/delete class="pull-right"><span
                                    class="glyphicon glyphicon-remove-circle"></span></a>
                        {% endif %}
                        <div class="chip">
                            <img src="https://maxcdn.icons8.com/Share/icon/p1em/users//gender_neutral_user1600.png" alt="Person" class="img-circle" width="30" height="30">
                            <a href="/users/{{ person.commented_by.id }}/">{{ person.commented_by.username }}</a>
                            <label class="pull-right">
                            <p class="alert-info">On : {{ person.date }}</p>
                        </label>
                        </div>
                        <div id="comment{{ person.id }}">
                        </div>

                    </li>
                {% empty %}
                    <lable class="alert-success">Be the First one to Comment!</lable>
                {% endfor %}
            </div>
        </div>
        <div class="panel-footer sample">
            <textarea name="editor1" id="editor1" rows="10" cols="80" placeholder="Comment here ... !">
            </textarea>
            <script>
                function postComment() {
                    var comment = CKEDITOR.instances.editor1.getData();
                    window.location.assign(window.location.pathname + 'comment/post/' + comment);
                }
                CKEDITOR.replace('editor1');
            </script>
        </div>
        <div class="panel panel-footer">
            <input type="submit" class="btn btn-success" onclick="postComment()" value="Post The Comment">
        </div>
    </div>
</div>
</body>
</html>
